<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
  <title>Logistics Manager</title>
</head>
<body>
  <nav>
    <h1>Logistics Manager</h1>
    <h2>"A Simpler Way To Keep Track of All Your Logistical Needs"</h2>
    <a href="#addAStop">Add A Stop</a>
    <a href="#completedStops">Completed Stops</a>
  </nav>

  <main>
    <section id="addAStop">
      <h1 class="stops font-bold uppercase my-4">Add A Delivery</h1>
      <% if (user.local.email) { %>
      <form action="/addAStop" method="POST">
        <label for="time" class="">Recipient Name</label>
        <input type="text" placeholder="John Doe" name="rname" required />
        <label for="time">Address</label>
        <input type="text" placeholder="1234 Main St. Philadelphia,PA 19144" name="address" required />
        <label for="time">Time of Delivery</label>
        <input type="time" name="time" placeholder="Time Delivered" required />
        <label for="time">Total Packages Delivered</label>
        <input type="number" placeholder="3" name="packages" required />
        <label for="time">Location of Delivery</label>
        <input type="text" placeholder="(e.g. Front Door, Side Door)" name="location" required/>
        <label for="time">Drop-Off Location</label>
        <input type="text" placeholder="(e.g. House, Business, Apartment)" name="type" required />
        <label for="time">Additional Notes</label>
        <input type="text" placeholder="(e.g. Dog, Small Street)" name="notes" />
        <button type="submit">Submit Delivery</button>
      </form>
      <% } %>
    </section>

    <section id="completedStops">
      <h1 class="stops uppercase font-bold my-4">Completed Stops</h1>
      <ul class="completedStops space-y-6 ">
        <% for(var i=0; i<completedStops.length; i++) {%>
          <li class="completedStop">
            <div class="flex flex-col gap-2">
            <div><span class="grid"><span class="label font-bold">Recipient Name:</span> <span class="value uppercase"><%= completedStops[i].rname %></span></span></div>
            <div><span class="grid"><span class="label font-bold">Address:</span> <span class="value uppercase"><%= completedStops[i].address %></span></span></div>
            <div><span class="grid"><span class="label font-bold">Time of Delivery:</span> <span class="value uppercase"><%= completedStops[i].time %></span></span></div>
            <div><span class="grid"><span class="label font-bold">Total Packages Delivered:</span> <span class="value uppercase"><%= completedStops[i].packages %></span></span></div>
            <div><span class="grid"><span class="label font-bold">Location of Delivery:</span> <span class="value uppercase"><%= completedStops[i].location %></span></span></div>
            <div><span class="grid"><span class="label font-bold">Drop-Off Location:</span> <span class="value uppercase"><%= completedStops[i].type %></span></span></div>
            <div><span class="grid"><span class="label font-bold">Additional Notes:</span> <span class="value uppercase"><%= completedStops[i].notes %></span></span></div>
            <div><span class="grid"><button class="remove">Remove From List</button></span></div>
            </div>
          </li>
          
            <% } %>
      </ul>
    </section>
  </main>

  <script src="main.js"></script>
</body>
</html>
